<div class="user-item">
  <div class="avatar">
    {{poster-avatar action="expandPostUser" post=this classNames="main-avatar"}}
  </div>

  <div class="username">
    {{poster-name post=this with_at=true expandAction="expandPostUser"}}
    <span class="trustlevel">{{this.trustLevel.name}}</span>
  </div>

  <div class="likes">
    <i class="fa fa-heart"></i>
    {{this.likes_count}}
  </div>

  <div class="topics">
    <i class="fa fa-pencil"></i>
    {{this.topics_count}}
  </div>

  <div class="posts">
     <i class="fa fa-reply"></i> 
     {{this.replies_count}}
  </div>
</div>
