<div class='container'>
  {{custom-html "top"}}
  {{Discourse.globalNotice}}
</div>

<div class='list-controls'>
  <div class="container">
    <section class="category-column first">
      <ul class="nav nav-pills" id='category-filter'>
        <li class="directory_latest">{{#link-to 'directory.latest'}}{{i18n directory.users.nav.latest}}{{/link-to}}</li>
        <li class="directory_active">{{#link-to 'directory.active'}}{{i18n directory.users.nav.active}}{{/link-to}}</li>
        <li class="directory_newest">{{#link-to 'directory.newest'}}{{i18n directory.users.nav.newest}}{{/link-to}}</li>
        <li class="directory_moderator">{{#link-to 'directory.moderator'}}{{i18n directory.users.nav.moderator}}{{/link-to}}</li>
      </ul>
    </section>

    {{#if userStream.loaded}}

      {{#if userStream.users.length}}
        <section class="category-column first">
          {{#unless userStream.loadingFilter}}
            {{cloaked-collection cloakView="directory_user"
                                 defaultHeight="200"
                                 content=userStream.users
                                 slackRatio="15"
                                 loadingHTML=controller.loadingHTML
                                 preservesContext="true"}}
          {{/unless}}
        </section>

        <div class='clearfix'></div>

        {{#if userStream.loadingBelow}}
          <div class='spinner'>{{i18n loading}}</div>
        {{/if}}

      {{else}}
        <div>We couldn't find any users!</div>
      {{/if}}
    {{/if}}
  </div>
</div>

{{#if userStream.loaded}}

{{else}}
	<div class='container'>
		<div class='spinner'>{{i18n loading}}</div>
	</div>
{{/if}}

{{custom-html "bottom"}}
