<table id='topic-list' style='margin-bottom:12px;'>
  <tr>
    <th>
      <a href="/users/{{unbound username}}">
                {{avatar this imageSize="small"}}
                {{unbound name}}
      </a>
    </th>
  </tr>
  <tr>
    <td>
      {{i18n directory.users.activity}} {{unbound last_seen_age}}
      <br />
      {{i18n directory.users.member_since}} {{unbound member_since}}
    </td>
  </tr>
  <tr>
    <td>
    </td>
  </tr>
</table>
