<div class="user-item">
  {{poster-avatar action="expandPostUser" post=this classNames="main-avatar"}}

  <div class="username">
    {{poster-name post=this expandAction="expandPostUser"}}
    <span class="trustlevel">{{this.trustLevel.name}}</span>
  </div>

  <div class="likes">
    {{this.likes_count}}
  </div>
  <div class="topics">
    {{this.topics_count}}
  </div>
  <div class="posts">
    {{this.posts_count}}
  </div>
</div>
