<div class="user-item">
  <div class="avatar">
    {{poster-avatar action="expandPostUser" post=this classNames="main-avatar"}}
  </div>

  <div class="username">
    {{poster-name post=this with_at=true expandAction="expandPostUser"}}
    <span class="trustlevel">{{this.trustLevel.name}}</span>
  </div>

  <div class="likes">
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-thumbs-o-up fa-inverse fa-stack-1x"></i>
    </span> {{this.likes_count}}
  </div>

  <div class="topics">
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-pencil fa-inverse fa-stack-1x"></i>
    </span> {{this.topics_count}}
  </div>

{{!--
  <div class="tip">
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-exclamation fa-inverse fa-stack-1x"></i>
    </span>
    {{this.topics_count}}
  </div>

  <div class="question">
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-question fa-inverse fa-stack-1x"></i>
    </span>{{this.topics_count}}
  </div> --}}

  <div class="posts">
     <span class="fa fa-mail-reply"></span> {{this.replies_count}}
  </div>
</div>
