{{customHTML "top"}}

{{#if userStream.loaded}}

  <div class='list-controls'>
    <div class="container">
      <ul class="nav nav-pills" id='category-filter'>

      </ul>

      <section class="category-column first">
        {{view Discourse.TextField valueBinding="controller.searchString"  styleKey='width:300px;' placeholder="Search for a user by name, username, or email..."}}
      </section>

      {{#if userStream.users.length}}
	      <section class="category-column first">
          {{#unless userStream.loadingFilter}}
            {{cloaked-collection cloakView="directory_user" defaultHeight="200" content=userStream.users slackRatio=slackRatio loadingHTML=controller.loadingHTML}}
          {{/unless}}
		    </section>

        <div class='clearfix'></div>

        {{#if userStream.loadingBelow}}
			    <div class='spinner'>{{i18n loading}}</div>
        {{/if}}

		    <div id='directory-bottom'></div>

      {{else}}
        <div>We couldn't find any users!</div>
      {{/if}}
    </div>
  </div>

{{else}}
	<div class='container'>
		<div class='spinner'>{{i18n loading}}</div>
	</div>
{{/if}}

{{customHTML "bottom"}}